<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>The Man Cave!</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body class="ManCaveBody">
    <div style="width:100%;height:150px;">
        <img src="/Images/Man-Cave/Decoration1.png" style="display:block;width:100px;height:100px;margin-left:444px;margin-top:8px;">
        <img src="/Images/Man-Cave/Decoration2.jpg" style="display:inline-block;width:200px;height:auto;margin-left:1250px;border-radius:55px;margin-top:55px;">
    </div>
    <div style="width:100%;height:970px;">
        <img src="/Images/Man-Cave/TV.png" style="width:555px;height:auto;display:block;margin-left:668px;margin-bottom:-140px;">
        <div style="display:inline-block;margin-top:-200px;margin-bottom:100px;">
            <img src="/Images/Man-Cave/GuyProfile.jpg" style="width:auto;height:222px;margin-left:734px;display:inline-block;vertical-align:top;margin-right:99px;">
            <ul style="display:inline-block;color:White;">
                <h3>Stats</h3>
                <li style="width: 10px; ">Players: 5</li>
                <li style="width: 10px; ">Wins: 0</li>
                <li style="width: 10px; ">Height: 5'5</li>
                <li style="width: 10px;">Attractiveness: 0</li>
            </ul>
        </div>
        <img src="/Images/Man-Cave/Desk3.png" style="width:640px;height:400px;;display:block;margin-left:625px;margin-top:-70px;">
    </div>
</body>
</html>