<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>The Man Cave!</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body class="ManCaveBody">
    <img src="/Images/Man-Cave/Decoration1.png" style="display:inline-block;width:100px;height:100px;margin-left:640px;margin-top">
    <img src="/Images/Man-Cave/TV.png" style="width:444px;height:auto;margin-top:300px;">
    <img src="/Images/Man-Cave/TVDisplay.png" style="display:inline-block;width:222px;height:222px;">
    <img src="/Images/Man-Cave/Rug.png" style="display:inline-block;width:222px;height:222px;">
</body>
</html>