<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>The Man Cave!</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body class="ManCaveBody">
    <img src="/Images/Man-Cave/Decoration1.png" style="display:block;width:100px;height:100px;margin-left:444px;margin-top:188px;">
    <img src="/Images/Man-Cave/TV.png" style="width:555px;height:auto;display:block;margin-left:668px;margin-bottom:-198px;margin-top:22px;">
    <img src="/Images/Man-Cave/Desk3.png" style="width:640px;height:auto;display:block;margin-left:625px;">
    <img src="/Images/Man-Cave/TVDisplay.png" style="width:444px;height:222px;margin-top:-1385px;margin-left:724px;">
</body>
</html>