<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="~/css/style.css"/>
</head>
<body>

<div class="hero-image">
    
  <div class="hero-text">
      <img class="helmet" style="width: 140px; height: 100px;" src="~/images/She-Shack/Football-Helmet-Background-PNG.png" alt="Tv">
      <h1>Welcome to the She Shack</h1>

     <img class="tv" src="~/images/She-Shack/tv_PNG39261.png" alt="Tv">
     <img class="couch" style="width: 290px; height: 174px;" src="~/images/She-Shack/Armchair-PNG-Image.png" alt="Tv">
     
    <!-- <h3>Check out our Roster</h3> -->
    <!-- <button>Next</button> -->
    <!-- <img class="lamp" style="width: 100px" src="~/images/She-Shack/Ceramic-Lamp-PNG-Photos.png" alt="rug">
    <img class="table" style="width: 100px" src="~/images/She-Shack/End-Table-PNG-HD.png" alt="rug"> -->
  </div>
  
</div>

<p>Page content..</p>
<p>Note that this technique will also make the image responsive: Resize the browser window to see the effect.</p>

</body>
</html>

