<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="~/css/style.css"/>
</head>
<body class="sheshack-background">

<div class="hero-image">
    
        <div class="hero-text">
            
            <img class="helmet" style="width: 140px; height: 100px; " src="~/images/She-Shack/Football-Helmet-Background-PNG.png" alt="Tv">
            <h1>Welcome to the She Shack</h1>
            <div class="right">
                <h4>Player</h4>
                <p> something idk i just have to write write ok how does it go nonono you thought so oh you didnt know lol what am I actually doing bro</p>
            </div>
            <img class="tv" src="~/images/She-Shack/tv_PNG39261.png" alt="Tv">
            
            <div class="left">
                <h4>Stats</h4>
               
                <ul class="custom" style="width: 10px; height: 10px;">
                    <li style="width: 10px; ">Players: 5</li>
                    <li style="width: 10px; ">Wins: 0</li>
                    <li style="width: 10px; ">Height: 5'5</li>
                    <li style="width: 10px;">Kids: 0</li>
                </ul>
            </div>
            <img class="couch" style="width: 290px; height: 174px;" src="~/images/She-Shack/Armchair-PNG-Image.png" alt="Tv">
        </div>
</div>
</body>
</html>

