<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>The Field!</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body class="FieldBody">
<!-- Make input background very opaque -->
    <form asp-action="ProcessCreateMessage" asp-controller="Message" method="POST" class="Form">
        <p class="inputheader" style="text-align:center;background-color:rgb(8, 79, 185);height:38px;margin-bottom:0px;border-top-right-radius:14px;border-top-left-radius:14px;font-family:Monaco;padding:5px;font-size:22px;">Make a Play!</p>
        <input type="input" rows="40" cols="80" wrap="hard" name="MessageContent" class="Girl">
        <input type="submit" value="Make a Play!" class="inputsubmit">
    </form>
    <div style="display:inline-block;width:1200px;height:588px;vertical-align:top;">
        <div class="MessageListLeft"></div>
        <img src="/lib/FootBall.png" style="width:88px;height:88px;margin-top:377px;margin-left:544px;">
        <div class="MessageListRight"></div>
    </div>
<!-- Make input background very opaque -->
    <form asp-action="ProcessCreateMessage" asp-controller="Message" method="POST" class="Form">
        <p class="inputheader" style="text-align:center;background-color:rgb(8, 79, 185);height:38px;margin-bottom:0px;border-top-right-radius:14px;border-top-left-radius:14px;font-family:Monaco;padding:5px;font-size:22px;">Make a Play!</p>
        <input type="input" rows="40" cols="80" wrap="hard" name="MessageContent" class="Guy">
        <input type="submit" value="Make a Play!" class="inputsubmit">
    </form>
</body>
</html>