<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="~/css/style.css"/>
    <title>Home</title>
</head>
<body>
    <div class="wrapper">
        <div class="header">
        <a href="/">Home</a> | <a href="/projects">Projects</a> | <a href="/contacts">Contacs</a> 
        <h1>Verlecia Raymanette Torrey</h1>
        </div>
        <div class="verlecia">
            <img src="~/images/workme.jpg" alt="Picture Of Verlecia">
        </div>
        <div class="summary">
            <h2>About Me</h2>
            <p>Hello my name is Verlecia age 28 and im from seattle........ </p>
        </div>
     
    </div>
</body>
</html>