/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}
/* .backgroundbody{
  background-image: url(/lib/ManCave.jpg);margin:0;
} */
.FieldBody{
  background-image: url(/lib/Field2.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment:fixed;
  background-size: cover;
  width:1908px;
  margin:auto;
}
.Form{
  width:281px;
  height:555px;
  background-color:grey;
  display:inline-block;
  border-radius:22px;
}
.inputheader{
  text-align:center;
  background-color:lightblue;
  height:38px;
  margin-bottom:0px;
  border-top-right-radius:14px;
  border-top-left-radius:14px;
  font-family:Monaco;
  padding:5px;
  font-size:22px;
}
.Girl{
  width:281px;
  height:475px;
  background-image: url(/lib/PlayerGirl.jpeg);
  opacity: .3;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display:inline-block;
  border-top-right-radius:4px;
  border-top-left-radius:4px;
  border:.5px solid black;
  color:white;
  font-size:28px;
}
.Girl:hover{
  opacity: .7;
}
.Guy{
  width:281px;
  height:475px;
  background-image: url(/lib/PlayerGuy2.jpg);
  opacity: .3;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display:inline-block;
  border-top-right-radius:4px;
  border-top-left-radius:4px;
  border:.5px solid black;
  color:white;
  font-size:28px;
}
.Guy:hover{
  opacity: .7;
}
.inputsubmit{
  width:281px;
  height:44px;
  background-color:lightblue;
  border-bottom-right-radius:22px;
  border-bottom-left-radius:22px;
}
.ManCaveBody{
  background-image: url(/Images/Man-Cave/Wall.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment:fixed;
  background-size: cover;
  display:inline-block;
  width:1908px;
  margin:auto;
}
.ProfileSetupBody{
  background-image: url(/lib/PlayerGuy3.jpg);
  opacity: .3;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display:inline-block;
  width:1908px;
  margin:auto;
}